<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Dashboard</title>
</head>
<body>
    Instructor Dashboard 
    <br>
    <a href="/logout">Logout</a>
    <a href="/createCourse">Create a new course</a>
    <ul>
        <% for(var i = 0; i<data.length; ++i){%>
            <li><a href="/getCourse/<%= data[i].courseCode %>"><%= data[i].courseCode %>: <%= data[i].courseName %> </a>, <a href="/addStudent/<%= data[i].courseName %>/<%= data[i].courseCode %>/<%= data[i].id %>">Add student</a>, <a href="/openAttendance/<%= data[i].id %>">Open Attendance</a> </li>
        <% } %>
    </ul>
</body>
</html>